body {
  /* background-image: url(../imgs/dnd-wizbuild-coverimg.avif);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
  height: 100vh;
}

/* .header{
    background-color: darkred;
} */

#container {
  min-height: 100vh;
  height: fit-content;
}

#homeimg {
  max-height: 60vh;
  max-width: 60vw;
}

#title {
  background-image: linear-gradient(45deg, #292d3e, #f21d1d);

  color: whitesmoke;
  max-width: fit-content;
  padding: 10px;
  border-radius: 60px;
}

.submit {
  color: #f21d1d;
  background-color: #292d3e;
  border: 1px solid #f21d1d;
  border-radius: 4px;
  cursor: pointer;
  height: 32px;
  font-size: 14px;
  line-height: 32px;

  box-shadow: 0 0 4px #999;
  outline: none;
  background-position: center;
  transition: background 0.8s;
}
.submit:hover {
  background: #f54747 radial-gradient(circle, transparent 1%, #f54747 1%)
    center/15000%;
  color: white;
}

.submit:active {
  background-color: #292d3e;
  background-size: 100%;
  transition: background 0s;
}

.result-card {
  width: 600px;
  background-color: whitesmoke;
  color: black;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  display: inline-block;
}

.saved-card {
  width: 600px;
  background-color: firebrick;
  color: whitesmoke;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  display: inline-block;
}

.delete {
  color: #ffffff;
  background-color: #292d3e;
  border: 1px solid #292d3e;
  border-radius: 4px;
  cursor: pointer;
  height: 32px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 32px;

  box-shadow: 0 0 4px #999;
  outline: none;
  background-position: center;
  transition: background 0.8s;
}
button:hover {
  background: #ffffff radial-gradient(circle, transparent 1%, #ffffff 1%)
    center/15000%;
  color: black;
}

button:active {
  background-color: #292d3e;
  background-size: 100%;
  transition: background 0s;
}
